<div class="card mb-3" *ngIf="estate">
  <img src="assets/img/3d-rendering-modern-house.jpg">
  <div class="card-body">
    <h4 class="card-title"><a routerLink="/estates/{{estate.id}}" class="card-link">{{estate.name}}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">Cena: {{estate.price}} zł</h6>
    <h6 class="card-subtitle mb-2 text-muted">Powierzchnia: {{estate.estateArea}} m2</h6>
    <h6 class="card-subtitle mb-2 text-muted">Miejscowość: {{estate.city}}</h6>
    <a routerLink="/estates/{{estate.id}}" class="card-link">Sprawdź szczegóły</a>
  </div>
</div>
