<h4>Dodawanie nieruchomości</h4>

<br>

<form [formGroup]="createForm" (ngSubmit)="createEstate()">
  <app-text-input
    [formControl]="$any(createForm.controls['name'])"
    [label]="'Nazwa nieruchomości'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['description'])"
    [label]="'Opis'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['street'])"
    [label]="'Ulica'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['streetNumber'])"
    [label]="'Numer domu'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['flatNumber'])"
    [label]="'Numer mieszkania'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['city'])"
    [label]="'Miasto'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['zipCode'])"
    [label]="'Kod pocztowy'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['country'])"
    [label]="'Kraj'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['price'])"
    [label]="'cena'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['estateArea'])"
    [label]="'Powierzchnia'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['yearOfConstruction'])"
    [label]="'Rok budowy'">
  </app-text-input>

  <div class="form-group">
    <label for="genreId">Rodzaj nieruchomości</label>
    <select id="genreId" formControlName="genreId" class="form-control">
      <option value="" disabled selected>Wybierz rodzaj</option>
      <option *ngFor="let genre of genres" [value]="genre.genreId">{{ genre.genreName }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="categoryId">Kategoria</label>
    <select id="categoryId" formControlName="categoryId" class="form-control">
      <option value="" disabled selected>Wybierz kategorię</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }}</option>
    </select>
  </div>

  <br>

  <div class="form-group">
    <label for="stateId">Status</label>
    <select id="stateId" formControlName="stateId" class="form-control">
      <option value="" disabled selected>Wybierz status</option>
      <option *ngFor="let state of states" [value]="state.stateId">{{ state.stateName }}</option>
    </select>
  </div>

  <app-text-input
    [formControl]="$any(createForm.controls['marketType'])"
    [label]="'Rodzaj rynku'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['finishState'])"
    [label]="'Stan wykończenia'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['floor'])"
    [label]="'Piętro'">
  </app-text-input>

  <app-text-input
    [formControl]="$any(createForm.controls['numberOfRooms'])"
    [label]="'Liczba pokoi'">
  </app-text-input>

  <button type="submit" class="btn btn-success">Dodaj nieruchomość</button>

  <br>
  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>
  <br>

</form>
