<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card></app-member-card>
  </div>
</div>

<!-- <table class="member-table">
  <thead>
    <th>Id</th>
    <th>Nazwa użykownika</th>
    <th>Email</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let member of members">
      <td>Id: {{member.id}}</td>
      <td>Nazwa użytkownika {{member.userName}}</td>
      <td>Email: {{member.email}}</td>
      <td>Imię: {{member.firstName}}</td>
      <td>Nazwisko: {{member.lastName}}</td>
      <td>Szczegóły</td>
    </tr>
  </tbody>
</table> -->
