<div *ngIf="member">
  <div class="row">
    <div class="col-3">
      <div *ngIf="member.photo">
        <img src="{{member.photo.url}}" alt="awatar użytkownika" width="100%">
      </div>
      <div *ngIf="!member.photo">
        <img src="/assets/img/default-user-avatar.jpg" alt="awatar użytkownika" width="100%">
      </div>
      <br>
      <p>Nazwa użytkownika:
        <br>
        {{member.userName}}
      </p>
      <p>Imię i nazwisko:
        <br>
        {{member.firstName}} {{member.lastName}}
      </p>
      <p>Adres e-mail:
        <br>
        {{member.userEmail}}
      </p>
      <p>Telefon:
        <br>
        {{(member.phoneNumber != null) ? member.phoneNumber : "Brak" }}
      </p>
    </div>

    <div class="col-9">
      Moje nieruchomości <br>
      Polubione nieruchomości
    </div>
  </div>
</div>
